.stm_custom_menu_style_1 .menu li {
    padding-left: 15px !important;
    margin-bottom: 17px;
    line-height: 1;
}

.stm_custom_menu_style_1 .menu li:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 10px;
    line-height: 1;
    top: 0px;
}

.stm_custom_menu_style_1 .menu li a:hover {
    color: #ffffff;
}

@media (max-width: 1024px) {
    .stm_custom_menu_style_1 .menu li:before {
        top: 2px;
    }
}

/*COLORS*/
/*FONTS*/
.vc_container,
.vc_container-fluid {
    position: relative;
    z-index: 10;
}

.vc_container .container,
  .vc_container-fluid .container {
    max-width: 100%;
}

/*Ipad fix*/
.vc_row-flex .row:before, .vc_row-flex .row:after {
    display: none;
}

.vc_row > .container > .row {
    padding: 0;
}

.vc_row-flex > .container > .row, .vc_row-flex > .container-fluid > .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.vc_row-flex > .container > .row > .vc_column_container, .vc_row-flex > .container-fluid > .row > .vc_column_container {
    display: -ms-flexbox;
    display: flex;
}

.vc_row-flex > .container > .row > .vc_column_container > .vc_column-inner, .vc_row-flex > .container-fluid > .row > .vc_column_container > .vc_column-inner {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .vc_row-flex > .container > .row > .vc_column_container > .vc_column-inner, .vc_row-flex > .container-fluid > .row > .vc_column_container > .vc_column-inner {
          /* IE10+ specific styles */
    }

    .vc_row-flex > .container > .row > .vc_column_container > .vc_column-inner > *, .vc_row-flex > .container-fluid > .row > .vc_column_container > .vc_column-inner > * {
        min-height: 1em;
    }
}

.vc_row-flex > .container > .row::before, .vc_row-flex > .container > .row::after, .vc_row-flex > .container-fluid > .row::before, .vc_row-flex > .container-fluid > .row::after {
    display: none;
}

.vc_row-o-columns-stretch > .container > .row, .vc_row-o-columns-stretch > .container-fluid > .row {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.vc_row-o-columns-top > .container > .row, .vc_row-o-columns-top > .container-fluid > .row {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.vc_row-o-columns-bottom > .container > .row, .vc_row-o-columns-bottom > .container-fluid > .row {
    -ms-flex-align: end;
    align-items: flex-end;
}

.vc_row-o-columns-middle > .container > .row, .vc_row-o-columns-middle > .container-fluid > .row {
    -ms-flex-align: end;
    align-items: flex-end;
}

.vc_row.vc_row-o-columns-top > .container > .row::after, .vc_row.vc_row-o-columns-top > .container-fluid > .row::after, .vc_row.vc_row-o-columns-bottom > .container > .row::after, .vc_row.vc_row-o-columns-bottom > .container-fluid > .row::after, .vc_row.vc_row-o-columns-middle > .container > .row::after, .vc_row.vc_row-o-columns-middle > .container-fluid > .row::after {
    content: '';
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
}

.vc_row-o-equal-height > .container > .row > .vc_column_container, .vc_row-o-equal-height > .container-fluid > .row > .vc_column_container {
    -ms-flex-align: stretch;
    align-items: stretch;
}

.vc_row-o-content-top > .container > .row > .vc_column_container > .vc_column-inner, .vc_row-o-content-top > .container-fluid > .row > .vc_column_container > .vc_column-inner {
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.vc_row-o-content-top:not(.vc_row-o-equal-height) > .container > row > .vc_column_container, .vc_row-o-content-top:not(.vc_row-o-equal-height) > .container-fluid > row > .vc_column_container {
    -ms-flex-align: start;
    align-items: flex-start;
}

.vc_row-o-content-bottom > .container > .row > .vc_column_container > .vc_column-inner, .vc_row-o-content-bottom > .container-fluid > .row > .vc_column_container > .vc_column-inner {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.vc_row-o-content-bottom:not(.vc_row-o-equal-height) > .container > row > .vc_column_container, .vc_row-o-content-bottom:not(.vc_row-o-equal-height) > .container-fluid > row > .vc_column_container {
    -ms-flex-align: end;
    align-items: flex-end;
}

.vc_row-o-content-middle > .container > .row > .vc_column_container > .vc_column-inner, .vc_row-o-content-middle > .container-fluid > .row > .vc_column_container > .vc_column-inner {
    -ms-flex-pack: center;
    justify-content: center;
}

.vc_row-o-content-middle:not(.vc_row-o-equal-height) > .container > .vc_column_container, .vc_row-o-content-middle:not(.vc_row-o-equal-height) > .container-fluid > .vc_column_container {
    -ms-flex-align: center;
    align-items: center;
}

.wpb_column[data-stretch].vc_column_container > .vc_column-inner {
    background-size: cover;
    height: 100%;
}

@media (max-width: 1023px) {
    div[data-stretch="right"] .vc_column-inner {
        position: relative;
    }
}

@media (max-width: 769px) {
    .vc_col-sm-6:nth-of-type(2n+1) {
        clear: both;
    }
}

.bump_round {
    width: 139px;
    height: 139px;
    position: absolute;
    top: -23px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    z-index: -1;
}

.bump_bottom {
    bottom: -23px;
    top: auto;
}

.vc_section.vc_row-o-full-height {
    min-height: 100vh !important;
}

canvas.vc_row_canvas_anim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

svg.vc_row_canvas_anim {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    transition: opacity .3s ease;
    opacity: 0;
}

svg.vc_row_canvas_anim.loaded {
    opacity: 1;
}

.stm_gradient_animation {
    animation: Gradient 15s ease infinite;
    background-size: 400% 400% !important;
}

.stm_container_has_video {
    overflow: hidden;
}

.stm_container_has_video .stm_video_iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    padding-bottom: 56.25%;
    /* 16:9 */
    z-index: 10;
}

@media (min-width: 1500px) {
    .stm_container_has_video .stm_video_iframe {
        transform: translateY(-25%);
    }
}

.stm_container_has_video .stm_video_iframe iframe {
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
}

.stm_container_has_video .vc_video-bg-container {
    z-index: 30;
}

.stm_container_has_video .stm_row-opacity {
    z-index: 20;
}

@media (max-width: 1100px) {
    .stm_container_has_video .stm_video_iframe {
        display: none;
    }
}

.stm_featured_row > .vc_row > .wpb_column {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0);
}

.stm_featured_row > .vc_row > .wpb_column:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.13);
}

.stm_featured_row .stm_featured_box {
    position: relative;
    transform: scale(1.1);
    z-index: 10;
}

.stm_featured_row .stm_featured_box .wpb_wrapper {
    transform: scale(0.95);
}

@media (max-width: 550px) {
    .stm_featured_row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .stm_featured_row .stm_featured_box {
        transform: scale(1);
    }

    .stm_featured_row .stm_featured_box .wpb_wrapper {
        transform: scale(1);
    }
}

.stm_row__divider_enabled {
    position: relative;
}

.stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_bottom .stm_row__divider, .stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_top .stm_row__divider, .stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_both .stm_row__divider {
    position: absolute;
    left: 0;
    right: 0;
}

.stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_bottom .stm_row__divider:after, .stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_top .stm_row__divider:after, .stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_both .stm_row__divider:after {
    content: '';
    bottom: -5px;
    display: block;
    background: linear-gradient(45deg, transparent 33.333%, #FFF 33.333%, #FFF 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #FFF 33.333%, #FFF 66.667%, transparent 66.667%);
    background-repeat: repeat-x;
    background-size: 16px 32px;
    height: 8px;
    -webkit-filter: drop-shadow(#ffffff 0px 1px 0px);
}

.stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_top .stm_row__divider, .stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_both .stm_row__divider:nth-child(1) {
    bottom: auto;
    top: -8px;
}

.stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_bottom .stm_row__divider, .stm_row__divider_enabled.stm_row__divider_saw.stm_row__divider_both .stm_row__divider:nth-child(2) {
    top: auto;
    bottom: -8px;
    transform: rotate(180deg);
}

.overlap_mobile {
    z-index: 15 !important;
}

[class*=vc_container] .stm_kenburns {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

[class*=vc_container] .stm_kenburns .stm_kenburns__image {
    width: 110%;
    height: 110%;
    margin-left: -5%;
    margin-top: -5%;
    animation: 60s linear stm_kenburns infinite;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1023px) {
    .overlap_mobile .vc_row-o-equal-height .vc_column-inner > .wpb_wrapper {
        height: auto !important;
    }
}

@keyframes stm_kenburns {
    0% {
        transform: scale(1) translateX(0) translateY(0);
    }

    50% {
        transform: scale(1.2) translateX(-10%) translateY(5%);
    }

    100% {
        transform: scale(1) translateX(0) translateY(0);
    }
}


.stm_widget_search.style_1 .widget.widget_search {
    margin-bottom: 35px;
}

.stm_widget_search.style_1 .widget.widget_search:before {
    display: none !important;
}

.stm_widget_search.style_1 .widget.widget_search .search-form {
    position: relative;
}

.stm_widget_search.style_1 .widget.widget_search .search-form .form-control {
    border-radius: 0;
}

.stm_widget_search.style_1 .widget.widget_search .search-form button {
    position: absolute;
    right: 0;
    top: -9px;
    width: 44px;
    height: 100%;
    color: #fff;
    text-align: center;
    border: none;
    font-size: 17px;
    outline: none !important;
    padding: 0;
}

.stm_widget_search.style_1 .widget.widget_search .search-form button i {
    width: 100%;
}

.stm_widget_search.style_1 .widget.widget_search .search-form input[name="s"] {
    padding-right: 50px;
    background: #eeeff2;
    color: #222;
}

.stm_widget_search.style_1 .widget.widget_search .search-form input[name="s"]:focus {
    background: transparent;
}
/*COLORS*/
/*FONTS*/
/*FLIP*/
.stm_pricing-table-flip_style_1.stm_flipbox {
    transform-style: preserve-3d;
    perspective: 1000px;
    padding: 0;
    border: 0;
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__front,
  .stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    min-height: 350px;
    height: auto;
    transition: transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__front .inner,
    .stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back .inner {
    position: absolute;
    padding: 45px 25px;
    text-align: center;
    left: 0;
    bottom: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    perspective: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__front .inner h2,
      .stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back .inner h2 {
    margin-bottom: 10px;
    font-size: 56px;
    line-height: 60px;
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__front .inner h4,
      .stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back .inner h4 {
    margin-bottom: 16px;
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__front .inner h5,
      .stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back .inner h5 {
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__front {
    background-color: #dddce1;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 2px;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back .inner {
    overflow: hidden;
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back .inner .stm_back_bg_icon {
    position: absolute;
    top: 50%;
    right: -50px;
    font-size: 162px;
    margin-top: -81px;
    opacity: 0;
    transition: .1s ease;
    z-index: -1;
}

.stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back .inner a {
    width: auto;
    margin: 20px auto 0;
}

.stm_pricing-table-flip_style_1.stm_flipbox:hover .stm_flipbox__front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.stm_pricing-table-flip_style_1.stm_flipbox:hover .stm_flipbox__back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.stm_pricing-table-flip_style_1.stm_flipbox:hover .stm_flipbox__back .stm_back_bg_icon {
    opacity: .2;
    transition: .3s .38s ease;
}

@media (max-width: 767px) {
    .stm_pricing-table-flip_style_1 {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__front .inner,
  .stm_pricing-table-flip_style_1.stm_flipbox .stm_flipbox__back .inner {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

/*COLORS*/
/*FONTS*/
.stm-counter_style_1 .stm-counter__icon {
    position: relative;
    top: 2px;
    margin-right: 8px;
    font-size: 40px;
}

.stm-counter_style_1 .stm-counter__value {
    font-size: 30px;
    font-weight: 900;
}

.stm-counter_style_1 .stm-counter__affix {
    font-size: 25px;
}

.stm-counter_style_1 .stm-counter__prefix {
    font-size: 25px;
}

.stm-counter_style_1 .stm-counter__label {
    margin-top: 12px;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
}

.stm-counter_style_1.stm_icon_gradient i {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
