.stm_footer_layout_2 .stm-footer__bottom {
    padding: 35px 0;
    border-width: 1px;
}

.stm_footer_layout_2 .stm-footer__bottom .stm_markup__content,
  .stm_footer_layout_2 .stm-footer__bottom .stm_markup__sidebar {
    padding: 0;
}

.stm_footer_layout_2 .stm-footer__bottom .stm_markup {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.stm_footer_layout_2 .stm-footer__bottom .stm-socials__icon {
    float: left;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 0 8px;
    text-align: left;
    background: transparent;
}

.stm_footer_layout_2 .stm-footer__bottom .stm-socials__icon:hover {
    background: transparent !important;
}

.stm_footer_layout_2 .stm-footer__bottom .stm-socials__icon:hover i {
    color: #ffffff;
}

.stm_footer_layout_2 .stm-footer__bottom .stm_bottom_copyright {
    max-width: 276px;
    line-height: 24px;
    text-align: center;
    font-family: inherit;
    font-size: 13px;
    color: #a5a5a5;
}

.stm_footer_layout_2 .stm-footer__bottom .stm_footer_bottom__right .btn {
    position: relative;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 70px;
    color: #ffffff !important;
}

.stm_footer_layout_2 .stm-footer__bottom .stm_footer_bottom__right .btn .btn__icon {
    width: 54px;
    margin-top: -3px;
    color: #ffffff !important;
}

@media (max-width: 1023px) {
    .stm_footer_layout_2 .stm-footer__bottom .stm-socials {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .stm_footer_layout_2 .stm-footer__bottom .stm-socials .stm-socials__icon {
        display: inline-block;
        float: none;
    }

    .stm_footer_layout_2 .stm-footer__bottom .stm_bottom_copyright {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .stm_footer_layout_2 .stm_markup__sidebar {
        width: 100% !important;
    }

    .stm_footer_layout_2 .stm_markup__sidebar div {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
/*COLORS*/
/*FONTS*/
/*COLORS*/
/*FONTS*/
body.stm_header_offset .stm_titlebox {
    margin-top: -92px;
}

@media (max-width: 1023px) {
    body.stm_header_offset .stm_titlebox {
        margin-top: 0;
    }
}

.stm_titlebox {
    position: relative;
    margin-bottom: 60px;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.stm_titlebox:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.stm_titlebox__actions, .stm_titlebox__inner {
    position: relative;
    z-index: 2;
}

.stm_titlebox__inner {
    -ms-flex: 1;
    flex: 1;
}

.stm_titlebox__author {
    margin-top: 55px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
}

.stm_titlebox__author .stm_titlebox__author_avatar {
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.stm_titlebox__author .stm_titlebox__author_name:after {
    content: ' / ';
}

.stm_titlebox_text-right {
    text-align: right;
}

.stm_titlebox_text-right .stm_separator {
    margin-left: auto;
}

.stm_titlebox_text-right .stm_titlebox__actions {
    -ms-flex-order: -1;
    order: -1;
    margin-right: auto;
    margin-left: inherit !important;
    padding-left: 0 !important;
    padding-right: 15px;
}

.stm_titlebox_text-center {
    text-align: center;
}

.stm_titlebox_text-center .stm_flex {
    -ms-flex-pack: center;
    justify-content: center;
}

.stm_titlebox_text-center .stm_flex_last > *:last-child:not(:first-child) {
    margin-left: inherit;
    padding-left: 50px;
}

.stm_titlebox_text-center .stm_separator {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 550px) {
    .stm_titlebox {
        padding-top: 30px;
    }

    .stm_titlebox__title.h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .stm_titlebox__inner {
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        text-align: left;
    }

    .stm_titlebox__actions {
        -ms-flex-order: 2;
        order: 2;
        padding: 0 !important;
        margin: 30px 0 !important;
    }
}

.stm_titlebox__overlay, .stm_titlebox__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.stm_titlebox__background {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.stm_titlebox__overlay {
    display: none;
}

.stm_transparent_header_disabled .stm_titlebox_style_3 {
    padding: 50px 0;
}

.stm_title_box_enabled.stm_breadcrumbs_enabled .stm_titlebox {
    margin-bottom: 20px;
}

.stm_title_box_enabled.stm_breadcrumbs_enabled .stm_titlebox_style_2 {
    margin-bottom: 12px;
}

.stm_titlebox_style_2 {
    background-size: 100%;
    background-position: 0 0;
    padding: 245px 0 90px;
    margin-bottom: 80px;
}

.stm_titlebox_style_2 .stm_titlebox__title {
    text-transform: none !important;
}

.stm_titlebox_style_2 .stm_titlebox__title.h1 {
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -1px;
}

@media (max-width: 1023px) {
    .stm_titlebox_style_2 {
        padding: 150px 0;
    }
}

@media (max-width: 550px) {
    .stm_titlebox_style_2 {
        padding: 30px 0 !important;
    }

    .stm_titlebox_style_2 .stm_titlebox__title.h1 {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .stm_titlebox_style_2 {
        padding: 100px 0;
    }
}
.stm_accordions_style_2 .vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading {
    font-size: 18px;
}

.stm_accordions_style_2 .vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading .vc_tta-panel-title {
    letter-spacing: 0 !important;
}

.stm_accordions_style_2 .vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading .vc_tta-panel-title > a {
    padding: 23px 60px 23px 26px;
    margin-bottom: 2px;
    font-size: 18px;
    text-transform: none;
    font-weight: 400;
    background-color: #f6f7f8;
    border-color: #f6f7f8;
}

.stm_accordions_style_2 .vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading .vc_tta-panel-title > a .vc_tta-title-text {
    opacity: 1;
    color: #293742;
    font-weight: 400;
}

.stm_accordions_style_2 .vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading .vc_tta-controls-icon {
    right: 25px;
    opacity: 1;
}

.stm_accordions_style_2 .vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-panel-heading:hover .vc_tta-controls-icon {
    color: #fff !important;
}

.stm_accordions_style_2 .vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-controls-icon.vc_tta-controls-icon-triangle::before {
    transform: rotate(180deg) translateY(50%);
}

.stm_accordions_style_2 .vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel:last-child .vc_tta-panel-heading .vc_tta-panel-title > a {
    border-bottom-color: #f6f7f8;
}

.stm_accordions_style_2 .vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-body {
    padding-left: 23px;
}

@media (max-width: 1024px) {
    .stm_accordions_style_2.stm_tabs_style_4 .vc_tta.vc_tta-tabs .vc_tta-tabs-list .vc_tta-tab {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .stm_accordions_style_2 .vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-body {
        padding-top: 30px;
    }
}
