<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="stylesheet" href="../css/Basic.css" type="text/css" />
    <link rel="stylesheet" href="../css/public.css" type="text/css" />
    <link rel="stylesheet" href="../fonts/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/style_1.css" type="text/css" />
    <link rel="stylesheet" href="../css/style1_1.css" type="text/css" />
    <link rel="stylesheet" href="../css/style_2.css" type="text/css" />
    <link rel="stylesheet" href="../fonts/stmicons.css" type="text/css" />
    <link rel="stylesheet" href="../css/style_19.css" type="text/css" />
    <link rel="stylesheet" href="../css/skin.custom.css" type="text/css" />
    <link rel="stylesheet" href="../fonts/js_composer.min.css" />
    <link rel="stylesheet" href="../fonts/js_composer_tta.min.css">
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../css/style_6.css" />
    <link rel="stylesheet" href="../css/style_3.css">
    <link rel="stylesheet" href="../css/sib_style.css">
    <style type="text/css">
        .vc_custom_1567414101761 {
            margin-top: -80px !important;
            margin-bottom: -80px !important;
            background-image: url(../image/882-4.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1567411060837 {
            margin-top: 150px !important;
        }

        .vc_custom_1548131092131 {
            margin-right: -50px !important;
        }
    </style>
</head>

<body style=""
    class="page-template-default page page-id-4281 user-registration-page stm_header_transparent stm_title_box_style_2 stm_title_box_enabled stm_form_style_6 stm_breadcrumbs_disabled  stm_pagination_style_17 stm_blockquote_style_3 stm_lists_style_3 stm_sidebar_style_19 stm_header_style_19 stm_post_style_2 stm_tabs_style_2 stm_tour_style_1 stm_buttons_style_7 stm_accordions_style_2 stm_projects_style_default stm_events_layout_1 stm_footer_layout_2 error_page_style_3 stm_shop_layout_business stm_products_style_left stm_header_sticky_1 stm_post_view_list stm_layout_company wpb-js-composer js-comp-ver-6.0.5 vc_responsive"
    style="background-color:ffffff;">
    <!-- wrapper start -->
    <div class="">
        <div class="stm_markup stm_markup_full">
            <div class="stm_markup__content">
                <div class="container-fluid vc_container-fluid  vc_custom_1567414101761 ">
                    <div class="vc_row wpb_row vc_row-fluid vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-flex"
                        style="min-height:125.157vh;">
                        <div class="container">
                            <div class="row">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div
                                                class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1567411060837 vc_column-gap-30">
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner vc_custom_1548131092131">
                                                        <div class="wpb_wrapper">
                                                            <h2 class="vc_custom_heading   text-left"
                                                                style="color: #ffffff;text-align: left">H1 - Mobile
                                                                Games User Acquisition Whitepaper</h2>
                                                            <h5 class="vc_custom_heading   text-left"
                                                                style="color: #ffffff;text-align: left">Powered by
                                                                DataEye</h5>
                                                            <div class="stm_spacer ">
                                                                <div class="visible-lg visible-md"
                                                                    style="height: 50px;"></div>
                                                                <div class="visible-sm_landscape" style="height: 50px;">
                                                                </div>
                                                                <div class="visible-sm" style="height: 50px;"></div>
                                                                <div class="visible-xs" style="height: 50px;"></div>
                                                            </div>
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <p>
                                                                        <span style="color: #fff;">
                                                                            <strong>Today, ”User Acquisition“ has become
                                                                                a basic ability necessary for game
                                                                                distribution. Since 2017, the user
                                                                                acquisition market has become more and
                                                                                more mature, mainly in several aspects:
                                                                                Firstly, the number of teams involved
                                                                                are basically the same every year.
                                                                                Secondly, the mainstream theme games,
                                                                                legends, Chinese Fairy theme occupy the
                                                                                top of the user acquisition. Thirdly,
                                                                                the number of user acquisition is
                                                                                basically the same every year, declining
                                                                                in 2018 and rising slightly in 2019,
                                                                                mainly due to the impact of Chinese
                                                                                government policy regulation.</strong>
                                                                        </span>
                                                                    </p>
                                                                    <p>
                                                                        <span style="color: #fff;">
                                                                            <strong>We believe that the future of game
                                                                                user acquisition will be on a par with
                                                                                content production companies and content
                                                                                marketing companies.</strong>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="stm_spacer ">
                                                                <div class="visible-lg visible-md"
                                                                    style="height: 50px;"></div>
                                                                <div class="visible-sm_landscape" style="height: 50px;">
                                                                </div>
                                                                <div class="visible-sm" style="height: 50px;"></div>
                                                                <div class="visible-xs" style="height: 50px;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="wpb_column vc_column_container vc_col-sm-6 pearl_column_inner_62c8351f95571488b29372ad6341466d">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                                <div class="wpb_wrapper">
                                                                    <div class="sib-form"
                                                                        style="text-align: center; background-color: #EFF2F7;                                           ">
                                                                        <div id="sib-form-container"
                                                                            class="sib-form-container">
                                                                            <div id="sib-container"
                                                                                class="sib-container--large sib-container--vertical"
                                                                                style=" text-align:center; background-color:rgba(255,255,255,1); max-width:540px; border-radius:3px; border-width:1px; border-color:#C0CCD9; border-style:solid;">
                                                                                <form action="">
                                                                                    <div style="padding: 16px 0;">
                                                                                        <div class="sib-form-block"
                                                                                            style=" font-size:32px; text-align:center; font-weight:700; 
                                                                                            font-family:'Helvetica', sans-serif;
                                                                                            color:#3C4858;
                                                                                            background-color:transparent;
                                                                                            border-width:1px;">
                                                                                            <p>Get your FREE report</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="padding: 16px 0;">
                                                                                        <div
                                                                                            class="sib-input sib-form-block">
                                                                                            <div
                                                                                                class="form__entry entry_block">
                                                                                                <div
                                                                                                    class="form__label-row ">
                                                                                                    <label
                                                                                                        class="entry__label"
                                                                                                        for="EMAIL"
                                                                                                        style=" font-size:16px; text-align:left; font-weight:700; font-family:'Helvetica', sans-serif; color:#3c4858; border-width:px;">
                                                                                                        Enter your email
                                                                                                        address to
                                                                                                        subscribe
                                                                                                    </label>
                                                                                                    <div
                                                                                                        class="entry__field">
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            placeholder="EMAIL"
                                                                                                            type="email"
                                                                                                            id="EMAIL"
                                                                                                            maxlength="200"
                                                                                                            name="EMAIL" />
                                                                                                    </div>
                                                                                                </div>
                                                                                                <label
                                                                                                    class="entry__error entry__error--primary"
                                                                                                    style=" font-size:16px; text-align:left; font-family:'Helvetica', sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-width:px; border-color:#ff4949;"></label>
                                                                                                <label
                                                                                                    class="entry__specification"
                                                                                                    style="  font-size:12px; text-align:left; font-family:'Helvetica', sans-serif; color:#8390A4; border-width:px;">
                                                                                                    Provide your email
                                                                                                    address to
                                                                                                    subscribe. For e.g
                                                                                                    abc@xyz.com
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="padding: 16px 0;">
                                                                                        <div class="sib-form-block"
                                                                                            style="text-align:center">
                                                                                            <button
                                                                                                class="sib-form-block__button sib-form-block__button-with-loader"
                                                                                                style=" font-size:16px; text-align:center; font-weight:700; font-family:'Helvetica', sans-serif; color:#FFFFFF; background-color:#ff0000; border-radius:5px; border-width:0px;"
                                                                                                type="submit"
                                                                                                form="sib-form"
                                                                                                >
                                                                                                    Download Report
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footerStart -->
    <div class="stm-footer">
        <div class="container footer_widgets_count_3">
            <div class="footer-widgets">
                <aside class="widget widget-default widget-footer widget_pages">
                    <div class="widgettitle widget-footer-title">
                        <h4>Site Map</h4>
                    </div>
                    <ul>
                        <li class="page_item page-item-8737">
                            <a href="../view/site_aboutUs.html">About Us</a>
                        </li>
                        <li class="page_item page-item-12030">
                            <a href="../view/site_ads-monetization.html">Ads Monetization</a>
                        </li>
                        <li class="page_item page-item-11076">
                            <a href="../view/site_brand-style-guide.html">Brand Style Guide</a>
                        </li>
                        <li class="page_item page-item-8738">
                            <a href="../view/site_contact_us.html">Contact Us</a>
                        </li>
                        <li class="page_item page-item-4281 current_page_item">
                            <a href="../view/site_FAQs.html">FAQs</a>
                        </li>
                        <li class="page_item page-item-11708">
                            <a href="../view/site_ua-report-2020.html">H1 2020 User Acquisition Report</a>
                        </li>
                        <li class="page_item page-item-9627">
                            <a href="../view/site_news.html">News</a>
                        </li>
                        <li class="page_item page-item-10755">
                            <a href="../view/site_performance-stats.html">Privacy Policy</a>
                        </li>
                        <li class="page_item page-item-12337">
                            <a href="../view/site_service.html">Services</a>
                        </li>
                        <li class="page_item page-item-4113">
                            <a href="../view/site_stores.html">Stores</a>
                        </li>
                    </ul>
                </aside>
                <aside class="widget widget-default widget-footer stm_custom_menu stm_custom_menu_style_1">
                    <div class="widgettitle widget-footer-title">
                        <h4>Terms & Conditions</h4>
                    </div>
                    <div class="menu-privacy-policies-container">
                        <ul class="menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8799">
                                <a href="site_terms-of-use.html">Terms of Use</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8798">
                                <a href="../view/site_privacy-policy.html">Privacy Policy</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8797">
                                <a href="../view/site_partner-program-policy.html">Partner Program Policy</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <aside class="widget widget-default widget-footer widget_follow widget_follow_style_1">
                    <div class="widgettitle widget-footer-title">
                        <h4>Follow Us</h4>
                    </div>
                    <div class="widget_follow_inner">
                        <div class="stm-icontext stm-icontext_style1 stm-icontext__facebook_link">
                            <a href="#">
                                <i class="stm-icontext__icon fa fa-facebook"></i>
                                <span class="stm-icontext__text"></span>
                            </a>
                        </div>
                        <div class="stm-icontext stm-icontext_style1 stm-icontext__twitter_link">
                            <a href="#">
                                <i class="stm-icontext__icon fa fa-twitter"></i>
                                <span class="stm-icontext__text"></span>
                            </a>
                        </div>
                        <div class="stm-icontext stm-icontext_style1 stm-icontext__youtube_link">
                            <a href="#">
                                <i class="stm-icontext__icon fa fa-youtube-play"></i>
                                <span class="stm-icontext__text"></span>
                            </a>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="stm-footer__bottom">
                <div class="stm_markup stm_markup_50">
                    <div class="stm_markup__content stm_mf stm_bottom_copyright">
                        <span>Copyright ©</span>
                        <span>2020</span>
                        <span>APPTUTTi All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 一键向上 -->
    <div class="pearl_arrow_top arrowShow">
        <div class="arrow">
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type='text/javascript' src='../js/app.js'></script>

</html>